<div class="card-content">
  <mat-selection-list [multiple]="false" class="selection-list">
    <mat-list-option *ngFor="let tab of tabs" [selected]="tab.checked">Projects</mat-list-option>
  </mat-selection-list>
  <mat-tab-group>
    <mat-tab label="Vector to UV Data">
      <mat-card>
        <mat-card-title>Vector to UV Data<span class="title-span"></span><a href="https://github.com/nkornelsen/vector-to-mesh-uv"><img src="../../assets/GitHub-Mark-64px.png" height="32px"></a></mat-card-title>
        <mat-card-subtitle>A tool for storing vector data in a 2D texture to be accessed through the UVs of a 3D model.</mat-card-subtitle>
        <app-bezier-uvs></app-bezier-uvs>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>