<div class="container">
  <div class="content" role="main">
    <mat-card class="main-card">
      <div class="card-header">
        <mat-toolbar>
          <img src="../assets/my_icon.png" width="39px" style="margin-right: 1em;">
          <h1>Nolan Kornelsen</h1>
          <span class="toolbar-spacer"></span>
          <a href="https://github.com/nkornelsen"><img src="../assets/GitHub-Mark-64px.png" height="39px"></a>
        </mat-toolbar>
        <hr />
      </div>
      <app-top-layout></app-top-layout>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>
