@import '~@angular/material/theming';
@import '../styling/theme';

.container {
  display: grid;
  grid-template-columns: auto minmax(min-content, 80em) auto;
  height: 100%;
  margin: 0;
}

.content {
  margin-top: 1em;
  grid-column: 2;
  height: auto;
}

.main-card {
  min-height: 60em;
}


hr {
  color: mat-color($personal-site-primary);
}
